<!-- music/templates/music/home.html -->

{% extends 'music/base.html' %}

{% block title %}Home - Sonder{% endblock %}

{% block content %}
<div class="container">
    <!-- Hero Section -->
    <section class="hero">
        <h2>Find Your Musical Soulmate</h2>
        <div class="left-text"><p>Welcome to Sonder, your personalized music recommendation platform. Listen to new songs with song based dating profiles</p></div>
        {% if user.is_authenticated %}
            <a href="{% url 'music:artist_seed' %}" class="login_btn">Get Started</a>
        {% else %}
            <a href="{% url 'music:register' %}" class="login_btn">Get Started</a>
        {% endif %}
    </section>

    <section class="features">
        <div class="feature">
            <h2>Swipe to Explore</h2>
            <div class="left-text">
                <p>Like a song? Swipe right to add it to your favorites. Not your vibe? Swipe left to discover something new</p>
            </div>
        </div>
        <div class="feature">
            <h2>Personalized Profiles</h2>
            <div class="left-text">
                <p>Each song comes with a unique profile, offering insights into its personality. Make informed decisions based on what you love.</p>
            </div>
        </div>
        <div class="feature">
            <h2>Advanced Recommendations</h2>
            <div class="left-text">
                <p>Using machine learning algorithms, we will find songs that you love, and tell you how your interests are clustered</p>
            </div>
        </div>
    </section>

    <!-- Call to Action Section -->
    <section class="cta">
        <h2>Join the Sonder Community</h2>
        <div class="left-text">
            <p>Save your favorite songs, view your personalized stats, and connect with a community that shares your passion for music.</p>
        </div>
        <a href="{% url 'music:register' %}" class="submit-btn">Sign Up Now</a>
    </section>
</div>
{% endblock %}

{% block extra_js %}
<!-- Optional: Add any additional JavaScript here -->
{% endblock %}
