{% extends 'music/base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/css/login_register.css' %}">
{% endblock %}
{% block title %}Login - Sonder{% endblock %}

{% block content %}
<div class="user_card">
    <div class="d-flex justify-content-center">
        <h3 id="form-title">LOGIN</h3>
    </div>
    <div class="form_container">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="user-input">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="username" name="username" placeholder="Username" class="form">
            </div>
            <div class="user-input">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" name="password" placeholder="Password" class="form-control">
            </div>

            <div class="login_container">
                <input class="login_register_button" type="submit" value="Login">
            </div>

            <!-- Display Django Messages -->
            {% if messages %}
                {% for message in messages %}
                    <div class="message-box {{ message.tags }}">
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <!-- Display Form Errors -->
            {% if form.errors %}
                <div class="error-box">
                    <strong>There were some errors with your submission:</strong>
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </form>
    </div>
</div>

{% block extra_js %}
<script>
    /* Because I didn't set placeholder values in forms.py, they will be set here using vanilla JavaScript
       We start indexing at one because CSRF_token is considered and input fields are indexed accordingly
    */

    // Query All input fields
    var form_fields = document.getElementsByTagName('input');
    form_fields[1].placeholder = 'Username';
    form_fields[2].placeholder = 'Password';

    for (var i = 1; i < form_fields.length; i++) {	
        form_fields[i].classList.add('form-control');
    }
</script>
{% endblock %}
{% endblock %}
