{% extends 'music/base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/css/profile.css' %}">
{% endblock %}

{% block title %}{{ profile_user.username }}'s Profile - Sonder{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ profile_user.username }}</h2>
    
    <!-- Profile Links -->
    <div class="profile-links">
        <ul>
            <li><a href="{% url 'music:song_list' profile_user.id %}">Liked Songs</a></li>
            <li><a href="{% url 'music:user_clusters' profile_user.id %}">Song Clusters</a></li>
            <!-- <li><a href="{% url 'music:home' %}">Change Stats</a></li> -->
            <li><a href="{% url 'music:home' %}">Edit Profile</a></li>
        </ul>
    </div>

    <!-- Revolving Picture Gallery -->
    <div class="liked-songs-gallery">
        <div class="gallery">
            {% for song in profile_user.liked_songs.all %}
                <img src="{{ song.image }}" alt="Liked Song {{ song.title }}" class="gallery-image">
            {% empty %}
                <p>No liked songs to display.</p>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const images = document.querySelectorAll(".gallery-image");
        images.forEach((image, index) => {
            image.style.animationDelay = `${index * 4}s`;
        });
    });
</script>
{% endblock %}
