# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Django migration files
*/migrations/*.py
!*/migrations/__init__.py

# Ignore logs
*.log

# Ignore compiled Python files
*.pyc

# Ignore virtual environments
venv/
env/

# Ignore IDE files (e.g., VSCode, PyCharm)
.vscode/
.idea/

# Ignore compiled bytecode, test results, etc.
*.coverage
.coverage
.pytest_cache/


